@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 52px;
  }

  *:focus-visible {
    @apply outline-none outline-4 outline-offset-0 focus:outline-h3Blue;
  }

  @media (min-width: 768px) {
    :root {
      --header-height: 64px;
    }
  }
}

@layer components {
  .volume-icon polygon {
    fill: currentColor;
  }

  .settings-icon circle {
    fill: black;
    stroke: black;
  }
  .settings-icon path {
    fill: currentColor;
    stroke: none;
  }
}
